
<div class="container-fluid"> 
  <h1 style="color: white;">”QUOTES”<br>CHAPTER
    <marquee id="float"direction="left" height="50" width="700"  color="white"><b><em>"Discipline Maketh a Man".</em></b></marquee></h1>
  
  <hr style="color:yellow;">
  <div class="row" style="color:white">
    <div class="col-md-6">
      <ul>
        <div *ngFor='let quote of quotes;let i =index'>
          <div>
            <h6 style="color:white">{{quote.topic}}<br>{{quote.name}}<br>{{quote.author}} on {{quote.completeDate | date}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-warning">Show More</button>
          </div>
        <div *ngIf='quote.showDescription'>
          <app-quote-details  [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
          
        </div>
         <!-- <hr>  -->
      </div>
      </ul>
    </div>
    <div class="col-md-6">

      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
   
  </div>
  
 

</div>
<br>

<div class="container-fluid">

  <footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://github.com/Teri11">augustineteri157@gmail.com</a>
  </div>
  <!-- Copyright -->
</footer>
  
</div>
<!-- End of .container -->



