<div class="container-fluid">
  <h2 class="text-centre" style="color:white;">Create new Quote.</h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel'placeholder="Name...">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p>Name is required</p>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" author="author" #author='ngModel' placeholder="Author...">
      <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
        <p>Author Name is required</p>
      </div>
    </div>
    <br>
    <div class="form-group">

      <label for="description">Quote</label>
      <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.description" name="Quote" #quote='ngModel' placeholder="Quote..." required></textarea>
      <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
        <p>Quote is required</p>
      </div>

  </div>
  <br>
  <div class="form-group">
    <label for="complete">Dates</label>
    <input type='date' id="completeDate" [(ngModel)]="newQuote.completeDate" completeDate="Date" #completeDate='ngModel' required>
    <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
      <p>Date is required</p>
    </div>

</div>
  <br>
  <button type="submit" class="btn btn-warning">Add  Quote</button>
  </form>
</div>
